<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <title>Edit <%= artist.name %></title>
</head>
<body>
  <form action="/artists/<%= artist.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" placeholder="Name" value="<%= artist.name %>" />
    <select name="album_id">
      <% albums.each do |album| %>
        <option value="<%= album.id %>" <%= "selected" if artist.album.id == album.id%> ><%= album.name %></option>
      <% end %>
    </select>
    <button>Submit</button>
  </form>

  <form action="/artists/<%= artist.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete Artist</button>
  </form>
</body>
</html>